@model SRSProgramMVC.Models.CurrentVocab

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CurrentVocab</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RepCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateNextStudy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateNextStudy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CurrentVocabID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
