@model SRSProgramMVC.ViewModels.RenderList


@{
    ViewBag.Title = "Study Page";
}


<script src="~/Scripts/Study.js" defer></script>
@using (Html.BeginForm("Study", "Home", FormMethod.Post, new { id = "vocabForm" }))
{
    @Html.AntiForgeryToken()
    <div class="newVocab">
        <table class="table">
            <tr>
                <th>
                    Kanji
                </th>
                <th>
                    Hiragana
                </th>
                <th>
                    English Meaning
                </th>
                <th>
                    Done Studying Today
                </th>
            </tr>
            @if (Model.newVocabsList != null)
            {
                <tr><td>New Vocabulary</td></tr>
                for (int i = 0; i < Model.newVocabsList.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.newVocabsList[i].Kanji)
                            @Html.HiddenFor(modelItem => Model.newVocabsList[i].Kanji)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.newVocabsList[i].Hiragana)
                            @Html.HiddenFor(modelItem => Model.newVocabsList[i].Hiragana)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.newVocabsList[i].EnglishMeaning)
                            @Html.HiddenFor(modelItem => Model.newVocabsList[i].EnglishMeaning)
                        </td>
                        <td>
                            @Html.HiddenFor(modelItem => Model.newVocabsList[i].DictionaryVocabID)

                            @if (Model.newVocabsList[i].doneStudying == false)
                            {
                                @Html.CheckBoxFor(modelItem => Model.newVocabsList[i].doneStudying, new { @checked = "unchecked" })
                            }
                            else
                            {
                                @Html.CheckBoxFor(modelItem => Model.newVocabsList[i].doneStudying, new { @checked = "checked" })
                            }

                        </td>
                    </tr>
                }
            }
            <tr><td>Review Vocabulary</td></tr>
            @if (Model.currentVocabsList != null)
            {
                for (int i = 0; i < Model.currentVocabsList.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.currentVocabsList[i].Kanji)
                            @Html.HiddenFor(modelItem => Model.currentVocabsList[i].Kanji)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.currentVocabsList[i].Hiragana)
                            @Html.HiddenFor(modelItem => Model.currentVocabsList[i].Hiragana)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.currentVocabsList[i].EnglishMeaning)
                            @Html.HiddenFor(modelItem => Model.currentVocabsList[i].EnglishMeaning)
                        </td>
                        <td>
                            @Html.HiddenFor(modelItem => Model.currentVocabsList[i].DictionaryVocabID)

                            @if (Model.currentVocabsList[i].doneStudying == false)
                            {
                                @Html.CheckBoxFor(modelItem => Model.currentVocabsList[i].doneStudying, new { @checked = "unchecked" })
                            }
                            else
                            {
                                @Html.CheckBoxFor(modelItem => Model.currentVocabsList[i].doneStudying, new { @checked = "checked" })
                            }

                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <input type="submit" name="action" value="Submit Studied Words" />
    <div class="links">
        <a href="https://localhost:44376/Home/AddVocabulary">Add New Vocabulary</a>
    </div>
}
<script>document.getElementById('vocabForm').reset();</script>

@using (Html.BeginForm("Study", "Home", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    if (Model.newVocabsList == null || Model.newVocabsList.Count == 0)
    {
        <input type="submit" name="action" value="Roll New Words" />
    }
}