@model IEnumerable<SRSProgramMVC.Models.NewVocab>

@{
    ViewBag.Title = "Index";
}

<h2> Your New Vocabulary</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DictionaryVocab.Kanji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DictionaryVocab.Hiragana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DictionaryVocab.EnglishMeaning)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DictionaryVocab.Kanji)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DictionaryVocab.Hiragana)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DictionaryVocab.EnglishMeaning)
    </td>
    <td>
        @Html.ActionLink("Delete", "Delete", new { id = item.DictionaryVocabID })
    </td>
</tr>
}

</table>
