@model SRSProgramMVC.Models.DictionaryVocab

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DictionaryVocab</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kanji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kanji)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hiragana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hiragana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishMeaning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishMeaning)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DictionaryVocabID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
